body {
	font-family: $fuente-principal;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "header header header" "main main main" "footer footer footer";
}

main {
	grid-area: main;
	background-image: url("../img/han-solo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: #474747;
	color: white;
	width: 100%;
	min-height: 700px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-around;

	section {
		max-width: 1300px;
	}
}
